{% extends "../layouts/_base.html" %} {% block title %}Lives{% endblock %} {%
block active_nav %}lives{% endblock %} {% block body_class %}page page--lives{%
endblock %} {% block head_extra %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock %} {% block content %}
 {% set lives = load_json("@/data/lives.json")
%} 
{% include "../components/page-head/page-head.twig" with {
  title: "Live Matches",
  subtitle: "Popular live matches",
  breadcrumbs: [
    { label: "Home", href: "/", home: true },
    { label: "Live Matches" }
  ],
    meta: {
    count: lives|length ~ " Lives" 
  }
} only %}

<section class="section section--margin">
  <div class="container">
    <div class="section__inner">
              {% include "../components/infinite-scroll/infinite-scroll.twig" with {
        type: 'live',
        data: lives,
        initial_count: 9,
        items_per_page: 6,
        loading_text: 'Loading more matches...',
        end_text: 'All matches loaded',
        no_items_text: 'No live matches available'
      } only %}
      </div>
    </div>
  </div>
</section>






{% endblock %} {% block scripts %}
{% endblock %}
