<div class="banner">
	<img src="/assets/images/players/player-full-3.webp" alt="player decoration" class="banner__player">

	<div class="banner__content">
		<h2 class="banner__title">
			{% if title %}
				{{ title }}
			{% endif %}
		</h2>
		<p class="banner__text">
			{% if text %}
				{{ text }}
			{% endif %}
		</p>

		{% if button %}
			{% include "../button/button.twig" with button only %}
		{% endif %}
	</div>

	<img src="/assets/images/canada.webp" alt="canada decoration" class="banner__decor">
</div>
